<a href="https://colab.research.google.com/github/VenkataJanga/Machine-Learning/blob/master/Multi_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mutilple features in Liner Regression

In [0]:
# Load the libraries
import numpy as np  #used for algebra calculations
import pandas as pd #  used for preprocessig - data load,  analysis and manipulations
from matplotlib import pyplot as plt # used for visualization
#from sklearn.preprocessing import 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [19]:
data = pd.read_csv("/content/drive/My Drive/ML_Dataset/Multi_LR.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
State              50 non-null object
Profit             50 non-null float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

# split the data idepent values and dependent values

In [0]:
independent_features = data.iloc[:,:-1]
dependent_feature = data.iloc[:,4]

In [25]:
print(independent_features.head(2));print();print(dependent_feature.head(2))

   R&D Spend  Administration  Marketing Spend       State
0   165349.2       136897.80        471784.10    New York
1   162597.7       151377.59        443898.53  California

0    192261.83
1    191792.06
Name: Profit, dtype: float64

## convert the state columns in to categorical value

In [0]:
state_dummies = pd.get_dummies(independent_features['State'], drop_first = True)

In [0]:
data = pd.concat([independent_features,state_dummies],axis = 1)

In [29]:
data.head()

   R&D Spend  Administration  Marketing Spend       State  Florida  New York
0  165349.20       136897.80        471784.10    New York        0         1
1  162597.70       151377.59        443898.53  California        0         0
2  153441.51       101145.55        407934.54     Florida        1         0
3  144372.41       118671.85        383199.62    New York        0         1
4  142107.34        91391.77        366168.42     Florida        1         0

In [0]:
X = data.drop('State',axis=1)

In [31]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [0]:
y = dependent_feature

In [34]:
print(X.shape, y.shape)

(50, 5) (50,)

In [0]:
#Split the train and test data from the data set
X_train,X_test,y_train,y_test = train_test_split(X, y, random_state =1)

In [37]:
lr_model = LinearRegression()
lr_model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
y_prediction = lr_model.predict(X_test)

In [0]:
mse = mean_squared_error(y_test,y_prediction)

In [0]:
rmse = np.sqrt(mse)

In [0]:
r2score = r2_score(y_test,y_prediction)

In [46]:
print("Mean Squared Error = ", mse)
print("Root Mean Squared Error = ", rmse)
print("R2 Score = ", r2score)

Mean Squared Error =  68771246.79924238
Root Mean Squared Error =  8292.843107116061
R2 Score =  0.9614855512866084